<main class="o-main">
    <% location.forEach((loc)=>{
        %>
        <li>
            <h3>
                <%= loc.nome %>/ <%=loc.sigla %>
            </h3>
            <p>
                <%=<loc class="nome">
                    </loc> %>
            </p>
        </li>
        <hr />
        });
        %>
</main>
<%- include('partials/footer') %>
